body{
    background-color:#CCCCCC;
    margin: 0%;
    }

.content{
  
    font-family: 'Itim', cursive;
          }

.primary-nav {
    position: fixed;
    width: 100%;
    z-index: 10000;
    font-family: 'Pacifico', cursive;
    background-color: #2f2e2e;
    color: #ffffff;
    align-items: center top;
    font-size: 3em;
    }

input {
    border: none;
    background-color: #CCCCCC ;
    font-size: 1.2em;
    }

.output {
    background-color: #2a2a2a;
    color: #fff;
    }